@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --univet-green: #007A3D;
  --univet-blue: #004B87;
  --univet-beige: #C8C2AD;
  --univet-cream: #F4F0E4;
  --univet-dark: #2E3432;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-cormorant);
  --font-condensed: var(--font-oswald);
  
  --color-primary: var(--univet-green);
  --color-medical: var(--univet-blue);
  --color-beige: var(--univet-beige);
  --color-cream: var(--univet-cream);
  --color-dark: var(--univet-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
